Repository dubyanue/automation-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: buildifier, bazel-build

.pre-commit-config.yaml:

repos:
  # General file cleanup
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        verbose: true
      - id: end-of-file-fixer
        verbose: true
      - id: check-yaml
        verbose: true
      - id: check-json
        verbose: true
      - id: check-added-large-files
        verbose: true
      - id: check-case-conflict
        verbose: true
      - id: check-merge-conflict
        verbose: true

  - repo: local
    hooks:
      - id: buildifier
        name: Format Bazel Files
        entry: /usr/local/bin/buildifier
        language: system
        files: '\.(BUILD|MODULE|WORKSPACE|bzl)$'
        args:
          - "-mode=fix" # Automatically fix issues, or use "-mode=check" for just checking
          - "-lint=fix"
          - "-v"
        verbose: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff-check
        args:
          - "--fix"
          - "--show-fixes"
          - "--preview"
        types: [python]
        verbose: true
      - id: ruff-format
        types: [python]
        verbose: true

  -   repo: https://github.com/pre-commit/mirrors-pylint
      rev: 'v3.0.0a5'
      hooks:
      - id: pylint
        types: [python]
        language: python
        verbose: true

  # # Python formatting with Black
  # - repo: https://github.com/psf/black
  #   rev: 24.10.0
  #   hooks:
  #     - id: black
  #       language_version: python3
  #       verbose: true

  # # Python import sorting with isort
  # - repo: https://github.com/pycqa/isort
  #   rev: 5.13.2
  #   hooks:
  #     - id: isort
  #       args: ["--profile", "black"]  # Compatible with Black
  #       verbose: true

  # # Python linting with flake8
  # - repo: https://github.com/pycqa/flake8
  #   rev: 7.1.1
  #   hooks:
  #     - id: flake8
  #       args: [--max-line-length=88, --extend-ignore=E203]  # Black compatible
  #       verbose: true

  # Build validation - run Bazel build before commit
  - repo: local
    hooks:
      - id: bazel-build
        name: Bazel Build Check
        entry: bazel build //...
        language: system
        pass_filenames: false
        always_run: false
        files: '\.(BUILD|bzl|WORKSPACE|py)$'  # Add this line
        verbose: true

      # - id: bazel-test
      #   name: Bazel Test Check
      #   entry: bazel test //... --test_tag_filters=-integration --cache_test_results=yes
      #   language: system
      #   pass_filenames: false
      #   always_run: true
      #   verbose: true

testing
  src/cars/utils.pyi
Due: none

testing
  .pre-commit-config.yaml
  pyproject.toml
  src/cars/utils.pyi
Due: none

got everything to work properly
  .pre-commit-config.yaml
  macros/BUILD.bazel
  pyproject.toml
  src/cars/BUILD.bazel
  src/cars/utils.pyi
Due: none

mypy hook
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  pyproject.toml
  requirements.txt
Due: none

your commit message
  BUILD.bazel
  macros/pytest_macros.bzl
  pyproject.toml
  requirements.txt
  src/cars/BUILD.bazel
  src/cars/main.py
  src/config/BUILD.bazel
  src/config/__init__.py
  src/config/config.py
  src/config/config.pyi
  src/config/config_test.py
  src/dbc/BUILD.bazel
  src/dbc/__init__.py
  src/dbc/utils.py
  src/dbc/utils.pyi
  src/file_factory/BUILD.bazel
  src/file_factory/__init__.py
  src/file_factory/file_factory.py
  src/file_factory/file_factory.pyi
  src/file_factory/file_factory_test.py
Due: buildifier, bazel-build

add all the stuff to run linting, still need to fix pylint
  .bazelignore
  .bazelrc
  .pre-commit-config.yaml
  BUILD.bazel
  Dockerfile
  MODULE.bazel
  MODULE.bazel.lock
  macros/pytest_macros.bzl
  pyproject.toml
  requirements.txt
  src/config/BUILD.bazel
  src/config/config.py
  src/config/config.pyi
  src/config/config_test.py
  src/dbc/__init__.py
  src/dbc/utils.py
  src/dbc/utils.pyi
  src/file_factory/BUILD.bazel
  src/file_factory/file_factory.py
  src/file_factory/file_factory.pyi
  src/file_factory/file_factory_test.py
  src/logger/BUILD
  src/logger/__init__.py
  src/logger/log_formatter.py
  src/logger/logger.py
  tools/format/BUILD.bazel
  tools/lint/BUILD.bazel
  tools/lint/linters.bzl
Due: buildifier, bazel-build

small edits
  src/logger/BUILD
  src/logger/log_formatter.py
Due: bazel-build

lots of changes
  .bazelrc
  .gitignore
  .pre-commit-config.yaml
  .taplo.toml
  .yamlfmt.yaml
  .yamllint.yaml
  BUILD.bazel
  Dockerfile
  MODULE.bazel
  pyproject.toml
  requirements.txt
  tools/format/BUILD.bazel
  tools/lint/BUILD.bazel
Due: none

got all the formatting in
  .pre-commit-config.yaml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  biome.json
  tools/format/BUILD.bazel
  tools/lint/BUILD.bazel
Due: none

running everyhtinig with pre cmit
  .pre-commit-config.yaml
  BUILD.bazel
  pyproject.toml
  tools/lint/BUILD.bazel
Due: none

all formatters and linters runnable as tests
  .pre-commit-config.yaml
  .yamllint.yaml
  BUILD.bazel
  MODULE.bazel
  MODULE.bazel.lock
  pyproject.toml
  tools/format/BUILD.bazel
  tools/lint/BUILD.bazel
  tools/lint/lint_all.sh
  tools/lint/lint_test.sh
Due: none

workign so far
  .pre-commit-config.yaml
  src/file_factory/file_factory.py
  src/file_factory/file_factory_test.py
  src/json_lib/BUILD
  src/json_lib/json_tool.py
  src/logger/BUILD
  tools/lint/linters.bzl
Due: buildifier, bazel-build

remove mypy alltogether for now
  .bazelrc
  .pre-commit-config.yaml
  BUILD.bazel
  Dockerfile
  MODULE.bazel
  MODULE.bazel.lock
  lib/BUILD
  lib/file_libs/BUILD.bazel
  lib/file_libs/__init__.py
  lib/file_libs/file_factory.py
  lib/file_libs/json_tool.py
  lib/logger_libs/BUILD
  lib/logger_libs/__init__.py
  lib/logger_libs/log_formatter.py
  lib/logger_libs/logger.py
  macros/pytest_macros.bzl
  pyproject.toml
  src/file_factory/BUILD.bazel
  src/file_factory/file_factory.py
  src/json_lib/json_tool.py
  src/logger/__init__.py
  tests/BUILD
  tests/unit/file_factory_test.py
  tests/unit/json_tool_test.py
  tools/format/BUILD.bazel
  tools/lint/lint_test.sh
  tools/lint/mypy.sh
Due: buildifier, bazel-build

remove bazel files from git tacking
  bazel-bin
  bazel-data
  bazel-out
  bazel-testlogs
Due: none

updates
  .pre-commit-config.yaml
  BUILD.bazel
  lib/BUILD
  lib/file_libs/BUILD.bazel
  lib/logger_libs/BUILD
  scripts/lint_all.sh
  scripts/lint_test.sh
  scripts/mypy.sh
  tests/BUILD
  tools/lint/BUILD.bazel
Due: none

more update
  .gitignore
  .pre-commit-config.yaml
  BUILD.bazel
  lib/BUILD
  lib/__init__.py
  lib/file_lib/BUILD.bazel
  lib/file_lib/__init__.py
  lib/file_lib/file_factory.py
  lib/file_lib/json_tool.py
  lib/logger_lib/BUILD
  lib/logger_lib/__init__.py
  lib/logger_lib/log_formatter.py
  lib/logger_lib/logger.py
  lib/test_lib/BUILD
  lib/test_lib/__init__.py
  lib/test_lib/test_fixures.py
  macros/pytest_macros.bzl
  pyproject.toml
  requirements.txt
  scripts/lint_test.sh
  scripts/mypy.sh
  tests/BUILD
  tests/__init__.py
  tests/unit/__init__.py
  tests/unit/file_factory_test.py
  tests/unit/json_tool_test.py
  tests/unit/logger_test.py
  tools/lint/BUILD.bazel
Due: buildifier, bazel-build

more changing python
  BUILD.bazel
  macros/pytest_macros.bzl
  requirements.txt
  tests/unit/file_factory_test.py
  tests/unit/logger_test.py
Due: buildifier, bazel-build

changes
  Dockerfile
Due: none

add logger test that checks going to stdout, add beginnings of config lib
  lib/config_lib/BUILD
  lib/config_lib/__init__.py
  lib/config_lib/json_config.py
  tests/unit/logger_test.py
Due: bazel-build

update
  .gitignore
  .vscode/settings.json
  pyproject.toml
  tests/BUILD
  tests/unit/test_file_factory.py
  tests/unit/test_json_tool.py
  tests/unit/test_logger.py
Due: bazel-build

updates
  .pre-commit-config.yaml
  BUILD.bazel
  MODULE.bazel.lock
  macros/pytest_macros.bzl
  requirements.txt
  scripts/lint_test.sh
  tests/BUILD.bazel
Due: buildifier, bazel-build

remvoe schema download as it goes to online
  scripts/lint_test.sh
Due: none

update everything
  .pre-commit-config.yaml
  lib/config_lib/BUILD.bazel
  lib/dbc_lib/BUILD.bazel
  lib/logger_lib/BUILD.bazel
  lib/test_lib/BUILD.bazel
  pyproject.toml
Due: none

small updates and fixes
  lib/config_lib/config.py
  lib/test_lib/test_fixures.py
  scripts/lint_test.sh
  tests/unit/test_json_tool.py
Due: bazel-build

add config tests
  lib/BUILD
  lib/config_lib/config.py
  tests/unit/test_config.py
Due: bazel-build

add cache see if it works
  scripts/lint_test.sh
Due: none

update test
  tests/unit/test_config.py
Due: bazel-build

add another json config test
  lib/BUILD
  lib/config_lib/config.py
  lib/dbc_lib/dbc_utils.py
  scripts/lint_test.sh
  tests/unit/test_config.py
  tools/lint/BUILD.bazel
Due: bazel-build

add more stuff to db
  lib/config_lib/config.py
  lib/dbc_lib/dbc_utils.py
  lib/test_lib/test_fixures.py
  pyproject.toml
  tests/BUILD.bazel
  tests/unit/test_dbc_utils.py
  tools/lint/BUILD.bazel
Due: bazel-build

add another test
  tests/unit/test_dbc_utils.py
Due: bazel-build

dbc sqlite tests
  BUILD.bazel
  Dockerfile
  MODULE.bazel
  MODULE.bazel.lock
  lib/dbc_lib/dbc.py
  lib/test_lib/BUILD.bazel
  lib/test_lib/test_fixures.py
  macros/pytest_macros.bzl
  requirements.txt
  test.py
  tests/BUILD.bazel
  tests/data/test.db
  tests/data/test.sql
  tests/unit/test_dbc.py
  tests/unit/test_dbc_utils.py
Due: buildifier, bazel-build

added coverage and reporting
  .coveragerc
  .gitignore
  .pre-commit-config.yaml
  BUILD.bazel
  Dockerfile
  MODULE.bazel
  macros/pytest_macros.bzl
  macros/pytest_wrapper.py
Due: buildifier, bazel-build

remove t est file
  test.py
Due: bazel-build

update thing
  jenkins/BazelTestRunner.groovy
Due: none

fix build issue
  BUILD.bazel
Due: none

fix thing
  macros/pytest_macros.bzl
Due: buildifier, bazel-build

update
  jenkins/BazelTestRunner.groovy
Due: none

see if works
  jenkins/BazelTestRunner.groovy
Due: none
